{% extends 'base.html' %}

{% block content %}
    <h1> Here is your Snack Request</h1>
    <p>Name of Snack: {{ snack.name }}</p>
    <p>Description of Snack: {{ snack.description}}</p>
    <p>Purchaser of Snack: {{ snack.purchaser }}</p>
    <p></p>
    <button><a href="{% url 'detail-view' snack.pk %}">Return to Snack List</a></button>
    <button><a href="{% url 'update-view' snack.pk %}"> Update Snack</a></button>

    <button><a href="{% url 'delete-view' snack.pk %}"> Delete Snack</a></button>
{% endblock content %}


